<template name="logs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#" id="calendar">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Timestamp
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="logViewer">
  {{#if isLoading}}
    <div class="logLine text">Loading logs for container with ID {{containerId}}</div>
  {{else}}
    {{#if hasLogLines}}
      {{> logTable}}
    {{else}}
      <div class="logLine text">No logs found for container with ID {{containerId}}</div>
    {{/if}}
  {{/if}}
  </div>
</template>


<template name="logTable">
  <table>
  {{#each logLines}}
    {{#with formattedLogLine}}
    {{#if log}}
      <tr class="logLine">
      <td class="date">{{date}}</td>
      <td class="text">{{log}}</td>
      </tr>
    {{else}}
      <tr class="logLine">
        <td colspan="2" class="text">{{this}}</td>
      </tr>
    {{/if}}
    {{/with}}
  {{/each}}
  </table>
</template>
