<template name="logs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id="logViewer">
  {{#if isLoading}}
    <div class="logLine text">Loading logs for container with ID {{containerId}}</div>
  {{else}}
    {{#if hasLogLines}}
      {{> logTable}}
    {{else}}
      <div class="logLine text">No logs found for container with ID {{containerId}}</div>
    {{/if}}
  {{/if}}
  </div>
</template>


<template name="logTable">
  <table>
  {{#each logLines}}
    {{#with formattedLogLine}}
    {{#if log}}
      <tr class="logLine">
      <td class="date">{{date}}</td>
      <td class="text">{{log}}</td>
      </tr>
    {{else}}
      <tr class="logLine">
        <td colspan="2" class="text">{{this}}</td>
      </tr>
    {{/if}}
    {{/with}}
  {{/each}}
  </table>
</template>
