<template name="logs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <h3>Showing the last 1000 lines of the <strong>{{instance}}/{{service}}</strong> log.</h3>
    </div>
  </nav>
  <div id="logViewer">
  {{#if isLoading}}
    <div class="logLine text">Loading logs for {{instance}}/{{service}}</div>
  {{else}}
    {{#if hasLogLines}}
      {{> logTable}}
    {{else}}
      <div class="logLine text">No logs found for {{instance}}/{{service}}</div>
    {{/if}}
  {{/if}}
  </div>
</template>

<template name="logTable">
  <table>
  {{#each logLines}}
  <div>
    <span style="color: white;">{{this}}</span>
  </div>
  {{/each}}
  </table>
  <span id="end-of-logs"> </span>
</template>
