<template name="appstore">
  <div class="container">
      {{#if isAdminBoard}}
      <div style="width: 33%; float:left; margin-bottom: 10px">
        <div class="appcard" style="height:200px; background-color:#001f3f; margin-right: 15px">
        <button type="button" class="btn btn-link center-block btn-edit-app" data-toggle="modal" data-target="#editbox-{{hash}}" title="Create new application">
            <img src="/img/new-app.png" style="width:135px; background-color:white;" class="pull-left"/>
        </button>
        </div>
      </div>
      {{> editAppDefBox}}
      {{/if}}
      {{#each apps}}
          <div style="width: 33%; float:left; margin-bottom: 10px">
            <div class="appcard" style="height:200px; background-color:#001f3f; margin-right: 15px">
                <img src="{{pic}}" style="width:135px; background-color:white;" class="pull-left"/>
                <div class="pull-left">
                  <h2>{{name}}</h2>
                  <h3>{{version}}</h3>
                  <p>
                    {{description}}
                  </p>
                  <button type="button" class="btn btn-link pull-right btn-install-app">Install</button>
                  {{#if isAdminBoard}}
                  <button type="button" class="btn btn-link pull-right btn-edit-app" data-toggle="modal" data-target="#editbox-{{hash}}">Edit</button>
                  <button type="button" class="btn btn-link pull-right btn-remove-app">Remove</button>
                  {{/if}}
                </div>
            </div>
          </div>
          {{> editAppDefBox}}
      {{/each}}

  </div>
</template>
