.appstore {
  .appcard {
    height: 200px;
    background-color: white !important;
    color: black;
    box-shadow: 0 1px 5px #DDDDDD;
    border-radius: 3px 10px;
    position: relative;
    border: 1px solid #CCC;
    padding: 0;
  }
  .appcard > .img {
    height: 180px;
    margin: 10px;
    width: 115px;
    background-size: cover;
    background-position: center;
  }
  .appcard > div {
    padding-left: 10px;
    width: 220px;
  }
}
