<template name="appstore">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="appcard" style="height:200px; background-color:#001f3f">
            <img src="/img/jenkins.png" style="height:200px; background-color:white;" class="pull-left"/>
            <div class="pull-left">
              <h2>Jenkins CI</h2>
              <p>
                Build and integration server for enabling continuous delivery strategies.
              </p>
              <button type="button" class="btn btn-link pull-right">Install</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="appcard" style="height:200px; background-color:#001f3f">
            <img src="/img/gitlab2.png" style="height:200px; background-color:white;" class="pull-left"/>
            <div class="pull-left">
              <h2>Gitlab</h2>
              <p>
                Popular integrated SCM server for Git.
              </p>
              <button type="button" class="btn btn-link pull-right">Install</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="appcard" style="height:200px; background-color:#001f3f">
            <img src="/img/gollum2.png" style="height:200px; background-color:white;" class="pull-left"/>
            <div class="pull-left">
              <h2>Gollum Wiki</h2>
              <p>
                A simple fully featured wiki backed by Git.
              </p>

              <button type="button" class="btn btn-link pull-right">Install</button>
            </div>
        </div>
    </div>

  </div>
</div>
</template>
