body, html {
  background-color: #fff !important;
}

body {
  overflow-y:scroll;
}

.navbar-static-top {
  margin-bottom:20px;
}
.navbar-inverse {
  background-color: #111111 !important;
  box-shadow: 0 3px 5px #AAAAAA;
}

h5 {
  font-size: 16px;
  font-style: oblique;
}

i {
  font-size:18px;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}


a.navbar-brand > img {
  width:75px;
  margin-left:15px;
}

/* Collapsible panels --> */
.panel-heading a.toggle:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
/* <-- Collapsible panels */

.align-with-header {
  position: absolute;
  top: 20px;
  left: -15px;
}


.instance-link > .glyphicon-link {
  font-size: 12px;
  color: #0074D9;
}

.open-terminal > .glyphicon-console {
  font-size: 12px;
  color: #0074D9;
}

.searchInfo {
  text-align: center;
}
.searchInfo > a.#reset {
  padding: 0;
}

.appPanel table {
  margin-bottom: 0;
}
.appPanel tr:first-child td, .appPanel tr:first-child th {
  border-top: 0;
}
.appPanel .panel-body {
  padding: 0;
}
.badge {
  background-color: #AAAAAA !important;
}

.glyphicon-ok-sign {
  color: #2ECC40 !important;
}
.glyphicon-refresh {
  color: #AAAAAA !important;
}
.glyphicon-exclamation-sign {
  color: #FF4136 !important;
}

#velocity-status-widget {
  left: 10px !important;
  position: fixed !important;
  top: 12px !important;
  right: initial !important;
}
