<template name="storage">
  <div class="container storage">
  <div class="row">
    <div class="col-sm-12">
      <div id="searchbox-container" class="row" style="border-bottom: 1px solid lightblue; padding-bottom: 10px;">
        <div class="col-md-8"><h1 class="pageTitle"><i class="material-icons">storage</i> Storage Buckets</h1></div>
        <div class="col-md-4">
          {{> filterBox sessionVar='queryName'}}
        </div>
      </div>
    </div>
  </div>
  <div id="content-row" class="row" style="margin-top: 10px;">

    {{#if datastore.name }}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{datastore.percentage}};">
        {{ prettyValue datastore.used }}/{{ prettyValue datastore.total }}
      </div>
    </div>
    {{/if}}

    <div id="page-menu" class="col-md-4">
      {{#if isAuthenticated}}
      <form id="create-bucket-form" role="form">
          <div class="form-group">
              <label>Storage bucket name (must match [a-zA-Z0-9_-]+)</label>
              <input required pattern="[a-zA-Z0-9_-]+" type="text" name='bucket-name'
                class="form-control" id="bucket-name"
                placeholder="Alphanummeric, underscores and dashes; no spaces">
          </div>
          <button type="submit" class="create-bucket btn btn-mini">Add bucket</button>
      </form>
      {{/if}}
    </div>
    <div id="buckets-container" class="col-md-8">

      <div>
        <span>{{> React component=Storage filter=nameFilter}}</span>
        {{#if storageBuckets.count}}<button class="size-buckets btn btn-mini" style="outline: none;">Get bucket sizes</button>{{/if}}
      </div>

      {{#if isSearching}}
      <div class="searchInfo">
        Showing results for: "{{searchTerms}}" <br />
        <button id="reset" type="button" class="btn btn-link">- reset -</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>
</template>
