<template name="base-layout">
  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cloud Dashboard
          <!--img alt="ICTU Logo" src="/img/logo-ictu.png" --></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'instances'}}">Instances</a></li>
          <li><a href="{{pathFor 'apps'}}">Apps</a></li>
          {{#if isAdminBoard}}
          <li><a href="{{pathFor 'appstore'}}">App Store</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><div class="led {{statusColor}} pull-left" style="margin-top:21px"></div><a href="{{pathFor 'status'}}">Status</a></li>
          {{#if isAdminBoard}}
          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i style="font-size:12px;" class="glyphicon glyphicon-queen"></i> SuperUser <span class="caret"></span>
            </a>
            <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em; width:250px;">
                <div class="form-group">
                  <label for="projectName">Project</label>
                  <input id="projectName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="targetHost">Target host</label>
                  <input id="targetHost" class="form-control">
                </div>
            </form>
          </li>
          {{/if}}
          <li class="dropdown">
            <a id="messagesMenuItem" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i style="font-size:12px;" class="glyphicon glyphicon-envelope"></i> Messages
            </a>
          </li>
          {{#if currentUser}}
          <li class="user">
            <a href="#">
              {{user}}
            </a>
          </li>
          {{/if}}
          <!--li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="#">My Profile</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
          </li-->
        </ul>
      </div>
    </div><!-- /container -->
  </div>
  <!-- /Header -->

  {{> notices}}

  {{> sAlert}}

  {{> yield}}

  {{> chat}}

  <!-- footer class="text-center">Another awesome product of IQT</footer -->
</template>

<template name="open">
    {{> yield}}
</template>

<template name="notices">
    <div class="container">
        {{#each notices}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert {{noticeCss}}" role="alert"><strong>{{noticePreamble}}</strong> {{text}}</div>
                </div>
            </div>
        {{/each}}
    </div>
</template>
