<template name="base-layout">
  <div class="fixed-top">
    <div id="header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <img id="ictulogo" src="/img/logo-ictu.png" alt="ICTU Project Dashboard" />
          </a>
          <div id="top_menu" class="nav notify-row">

          </div>

          <div class="top-nav">
            <h3 class="page-title pull-right" style="color:whitesmoke;">
              {{pageName}}
              <small> {{projectName}}</small>
            </h3>
          </div>
        </div>
      </div>

    </div>

    <div id="container" class="row-fluid">
      <div id="sidebar" class="nav-collapse collapse">
        <!-- div class="sidebar-toggler hidden-phone"></div -->
        <ul class="sidebar-menu">
          {{#if isAdminBoard}}
          <li>
            <div class="form-group">
              <label for="projectName" style="color: white">Project</label>
              <input id="projectName" class="form-control">
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="targetHost" style="color: white">Target host</label>
              <input id="targetHost" class="form-control">
            </div>
          </li>
          {{/if}}
          <li class="{{isActiveRoute regex='index'}}">
            <a href="{{pathFor 'index'}}" class="">
              <span class="icon-box"> <i class="icon-dashboard"></i></span> Dashboard
              <span class="arrow"></span>
            </a>
          </li>
          <li class="{{isActiveRoute regex='.*[Aa]pplication.*'}}">
            <a href="{{pathFor 'applications'}}" class="">
              <span class="icon-box"> <i class="icon-cloud"></i></span> Applications
              <span class="arrow"></span>
            </a>
            <ul class="sub">
              <li class="{{isActiveRoute regex='createApplication'}}">
                <a href="{{pathFor 'createApplication'}}">Create</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="main-content">
        <div class="container-fluid" style="padding-top: 1em;">
          <div class="row-fluid dasboard">
            <div id="page" class="span12">
              {{> yield}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      2015 &copy; ICTU Software Delivery.
    </div>
  </div>
</template>
