<template name="index">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid metro-overview-cont">

        <div data-desktop="span2" data-tablet="span4" class="span3 responsive">
          <div class="metro-overview blue-color clearfix">
            <div class="display">
              <i class="big-icon icon-cogs"></i>
            </div>
            <div class="details">
              <div class="numbers">{{appCount}}</div>
              <div class="title">Applications</div>
            </div>
          </div>
        </div>

        <div data-desktop="span2" data-tablet="span4" class="span3 responsive">
          <div class="metro-overview gray-color clearfix">
            <div class="display">
              <i class="big-icon icon-cloud"></i>
            </div>
            <div class="details">
              <div class="numbers">{{instanceCount}}</div>
              <div class="title">Instances</div>
            </div>
          </div>
        </div>
        <div data-desktop="span2" data-tablet="span4" class="span3 responsive">
          <div class="metro-overview green-color clearfix">
            <div class="display">
              <i class="big-icon icon-ok"></i>
            </div>
            <div class="details">
              <div class="numbers">{{activeInstanceCount}}</div>
              <div class="title">Active</div>
            </div>
          </div>
        </div>
        <div data-desktop="span2" data-tablet="span4" class="span3 responsive">
          <div class="metro-overview red-color clearfix">
            <div class="display">
              <i class="big-icon icon-warning-sign"></i>
            </div>
            <div class="details">
              <div class="numbers">{{inactiveInstanceCount}}</div>
              <div class="title">Inactive</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
