.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  color: #ffffff;
}

.card .content {
  font-size: 16px;
  line-height: 10px;
  padding-bottom: 10px;
}

.card h1 {
  margin-left: auto;
  margin-right: auto;
  line-height: 70px;
  margin:10px;
}

#velocity-status-widget {
  left: 10px !important;
  position: fixed !important;
  top: 12px !important;
  right: initial !important;
}
