<template name="index">
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
          <div class="card" style="background-color:#001f3f">
              <div class="header">
                  <h1>{{appCount}}</h1>
              </div>
              <div class="content">
                  <p>Applications</p>
              </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card" style="background-color:#0074D9">
              <div class="header">
                  <h1>{{instanceCount}}</h1>
              </div>
              <div class="content">
                  <p>Instances</p>
              </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card" style="background-color:#3D9970">
              <div class="header">
                  <h1>{{activeInstanceCount}}</h1>
              </div>
              <div class="content">
                  <p>Active</p>
              </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card" style="background-color:#FF851B">
              <div class="header">
                  <h1>{{inactiveInstanceCount}}</h1>
              </div>
              <div class="content">
                  <p>Inactive</p>
              </div>
          </div>
      </div>
    </div>

    <div class="row" style="margin-top:25px;">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tags</h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Apps</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each tags}}
                <tr>
                  <td><span class="label label-info">{{tag}}</span></td>
                  <td>{{count}}</td>
                  <td style="width:50px;">
                    <ul class="nav nav-justified">
                      <li class="btn-group">

                        <a title="Start" href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em;">
                          <div class="alert alert-warning" role="alert" style="width:300px;">
                            <strong>Warning!</strong> Do you really want to restart all {{tag}} apps?
                          </div>
                          <button class="restart-tag btn tn-warning pull-right">Yes, make it so!</button>
                        </form>
                      </li>
                    </ul>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3><i class="glyphicon glyphicon-ice-lolly-tasted"></i> Welcome</h3>
        <hr>
        <p>
          Welcome to the Cloud Dashboard
        </p>

      </div>

    </div>

  </div>

</template>
