<template name="chat">
    <div id="intercom-container" class="intercom-container intercom-reset" style="display:none;">

        <div id="intercom-messenger" class="intercom-messenger intercom-messenger-active">

            <div id="intercom-conversation"
                    class="intercom-conversation intercom-sheet intercom-emoji-support intercom-powered-by-enabled intercom-sheet-active">
                <div class="intercom-sheet-header">
                    <!--a class="intercom-sheet-header-button intercom-sheet-header-conversations-button"
                            href="#">
                        <div class="intercom-sheet-header-button-icon"></div>
                        <div class="intercom-unread-counter">0</div>
                    </a-->

                    <div class="intercom-sheet-header-title-container">
                        <b class="intercom-sheet-header-title">Chat with IQ-Team</b>
                    </div>

                    <a class="intercom-sheet-header-button intercom-sheet-header-close-button" href="#">
                        <div class="intercom-sheet-header-button-icon"></div>
                    </a>
                    <!-- a class="intercom-sheet-header-button intercom-sheet-header-minimize-button" href="#">
                        <div class="intercom-sheet-header-button-icon"></div>
                    </a -->
                </div>
                <div class="intercom-sheet-body">
                    <div class="intercom-sheet-spinner"></div>
                </div>
                <div class="intercom-sheet-content" style="bottom: 75px;">
                    <div class="intercom-sheet-content-container">
                        <div class="intercom-conversation-parts-container">


                            <div class="intercom-welcome-message-container">
                                <div class="intercom-welcome-message">
                                    <p>Welcome Dude</p>
                                </div>
                            </div>

                            <div class="intercom-conversation-parts">

                                {{#each messages}}
                                    <div class="intercom-conversation-part">
                                        <div class="intercom-comment intercom-comment-by-admin">

                                            <img src="./pathToUrPicture.jpg" class="intercom-comment-avatar">

                                            <div class="intercom-comment-body-container">
                                                <div class="intercom-comment-body intercom-embed-body">
                                                    <p>{{text}}</p>
                                                </div>
                                                <div class="intercom-attachments" style="display: none;">

                                                </div>
                                                <div class="intercom-comment-caret"></div>
                                                <div class="intercom-lwr-composer-container"></div>
                                            </div>
                                            <div class="intercom-comment-metadata-container">
                                                <div class="intercom-comment-metadata">
                                                  <span class="intercom-comment-state">

                                                  </span>
                                                    <span class="intercom-relative-time">date with time ago</span>
                                                </div>
                                                <div class="intercom-comment-readstate"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> / <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="intercom-conversation-part">
                                        <div class="intercom-comment intercom-comment-by-user">

                                            <div class="intercom-comment-body-container">

                                                <div class="intercom-comment-body intercom-embed-body">
                                                    <p>You: Jeroen Start implementing da stuff man !</p>
                                                </div>
                                                <div class="intercom-attachments" style="display: none;">

                                                </div>
                                                <div class="intercom-comment-caret"></div>
                                                <div class="intercom-lwr-composer-container"></div>
                                            </div>
                                            <div class="intercom-comment-metadata-container">
                                                <div class="intercom-comment-metadata">
                                                  <span class="intercom-comment-state">

                                                  </span>
                                                    <span class="intercom-relative-time">date with time ago</span>
                                                </div>
                                                <div class="intercom-comment-readstate"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> / <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}


                            </div>
                        </div>
                    </div>
                </div>


                <div class="intercom-composer-container">
                    <form action="" method="POST" id="intercom-composer" class="intercom-composer" style="transform: translate(0px, 0px);">
                        <div class="intercom-composer-upload-error">The maximum upload size is undefinedMB</div>
                        <div class="intercom-composer-textarea-container">
                            <input type="submit" class="intercom-composer-send-button" value="Send" disabled="">
                            <input style="display:none" type="file">

                            <div class="intercom-composer-emoji-selector-container">
                                <div class="intercom-emoji-selector">
                                    <div class="intercom-emoji-selector-panel-small"><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-304px -368px;"
                                            title=":-)"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-352px -368px;"
                                            title=":-D"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-384px -64px;"
                                            title=";-)"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-208px -288px;"
                                            title="}-)"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-272px -384px;"
                                            title=":-O"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-384px -256px;"
                                            title=":-\"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-192px -384px;"
                                            title="X-("></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-16px -384px;"
                                            title=":-("></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-384px -144px;"
                                            title="B-)"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-384px -352px;"
                                            title=":-P"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-48px -384px;"
                                            title=":-@"></span><span class="intercom-emoji-image"
                                            style="display:inline-block;height:16px;width:16px;background-position:-384px -176px;"
                                            title=":-|"></span></div>
                                </div>
                            </div>
                            <div class="intercom-composer-textarea">
                                <strong class="intercom-composer-upload-button" title="Send attachment" style="display: inline;"></strong>
                                <strong class="intercom-composer-emoji-button" title="Insert emoji" style="display: inline;"></strong>
                                <pre><span></span><br></pre>
                                <textarea placeholder="Write a reply…"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</template>
