<template name="applicationsTable">
    <table class="table table-striped table-bordered table-advance table-hover">
      <thead>
        <tr>
          <th>Name
          </th>
          <th>Version
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each apps}}
        <tr>
          <td><strong>{{name}}</strong></td>
          <td></td>
          <td></td>
        </tr>
          {{#each appDefs}}
            {{> appRow}}
          {{/each}}
        {{/each}}
      </tbody>
    </table>
</template>

<template name="appRow">
  <tr>
  <td>
    {{#each tags}}
    <span class="label label-info">{{this}}</span>
    {{/each}}
  </td>
  <td><a href="{{pathFor 'editApplication' name=../name version=version}}">{{version}}</a></td>
  <td>
    <div class="btn-group" style="float:left">
        <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Start <strong class="caret"></strong></button>
        <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
            <div class="form-group" style="width:30em">
                <label>Instance name</label>
                <input required pattern="/?[a-zA-Z0-9_-]+" type="text"
                  class="form-control instance-name" style="width:90%"
                  placeholder="A unique name. Must match /?[a-zA-Z0-9_-]+."
                  value="{{name}}">
                {{#each parameters}}
                <label>{{this}}</label>
                <input required type="text" class="form-control parameter" data-parameter="{{this}}" style="width:90%">
                {{/each}}
            </div>
            <button type="button" class="start-app btn btn-mini">Go!</button>
        </form>
    </div></td>
</tr>
</template>
