<template name="instancesTable">
    <table class="table table-striped table-bordered table-advance table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Application : Version</th>
          <th>State</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each instances}}
        <tr>
          <td>
            <a href="{{instanceLink}}" target="_blank">{{name}}</a>
            {{#if showLoading}}
              <img src="/img/loader.gif" style="width:12pt"/>
            {{/if}}
            <a href="#" class="toggle-services"><i class="icon-info-sign"></i></a>
            <div class="hidden">
              {{#each services}}
              {{#with service=. instance=..}}
              <a href="#" class="select-service" data-toggle="modal" data-target="#termModal">{{service.name}}</a>
              {{/with}}
              <pre>{{pretify data}}</pre>
              {{/each}}
            </div>
          </td>
          <td>{{meta.appName}}&nbsp;:&nbsp;{{meta.appVersion}}
            {{#each params}}
              <br>
              <code>{{key}} : {{value}}</code>
            {{/each}}
          </td>
          <td>{{meta.state}}</td>
          <td>
            <button href="#" class="btn btn-mini stop-instance">{{stopButtonText}}</button>
          </td>
          <td>
            <button type="button" class="close btn clear-instance" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

</template>
