<template name="instanceView">
<div id="instancesPanel-{{this.name}}" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title heading-flex-container">
      <span class="glyphicon glyphicon-{{activityIcon}}"></span>
      {{#if instanceLink}}
        <a href="{{instanceLink}}" class="instance-link" target="_blank">{{name}}</a>
      {{else}}
        <span style="padding-left:5px;" title="This application does not have a web UI.">{{name}}</span>
      {{/if}}
      <a data-toggle="collapse" data-target="#instancePanel-{{instanceHash}}"
         href="#instancePanel-{{name}}" class="collapsed toggle titleToggle">
      </a>
      {{#if showProgressbar}}
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progressPercentage}}%;">
          <span>{{meta.stateDescription}}</span>
        </div>
      </div>
      {{/if}}
      {{#with parameters.tags}}
      <div class="labelbox">
        {{#each this}}<span class="label label-default">{{this}}</span>{{/each}}
      </div>
      {{/with}}
      <a data-toggle="collapse" data-target="#instancePanel-{{instanceHash}}" href="#" class="collapsed toggle"></a>
    </h4>

  </div>
  <div id="instancePanel-{{instanceHash}}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-justified pull-right" style="margin-bottom:5px">
          {{#if isAdminBoard}}
            {{#if isDashboard}}
              <li class="btn-group">
                <a title="Set Hellobar Message" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-comment"></i>
                </a>
                <form role="form" id="hellobar-message-form" class="dropdown-menu dropdown-menu-left" style="padding:1em">
                    <div class="form-group" style="width:35em">
                      <label>Message</label>
                      <input type="text" value="{{meta.hellobar}}" class="form-control hellobar-message" name="hellobar-message" />
                    </div>
                    <button type="submit" class="hellobar-message-submit btn btn-mini btn-primary pull-right">Update</button>
                </form>
              </li>
              {{/if}}
          {{/if}}
          {{#if isAuthenticated}}
          <li class="btn-group">
            <a title="Logs" target="_blank" href="{{pathFor route='instanceLogs' instanceId=_id}}">
              <i class="glyphicon glyphicon-list-alt"></i>
            </a>
            <!-- <a title="Logs" class="showLogs" href="#" data-toggle="modal" data-target="#logsModal">
              <i class="glyphicon glyphicon-list-alt"></i>
            </a> -->
          </li>
          <li class="btn-group">

            <a title="Stop" href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-stop"></i>
            </a>
            <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                <div class="form-group" style="width:20em">
                  Do you really want to stop this application?
                </div>
                <button type="button" class="stop-instance btn btn-mini btn-danger pull-right">Yes!</button>
            </form>

          </li>
          <li class="btn-group">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
            <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                <div class="form-group" style="width:20em">
                  <div class="alert alert-warning" role="alert">
                    <span class="label label-danger">Expert feature!</span> <br />
                    Do you really want to clear the instance meta information?
                  </div>

                </div>
                <button type="button" class="clear-instance btn btn-mini btn-danger pull-right">Yes!</button>
            </form>

          </li>
          {{/if}}
        </ul>

        <table class="table table-condensed">
          <tbody>
          {{#with meta}}
            <tr><th scope="row" style="width:250px;">Application name</th><td>{{appName}}</td></tr>
            <tr><th scope="row">Application version</th><td>{{appVersion}}</td></tr>
            <tr><th scope="row">State</th><td>{{stateDescription}}</td></tr>
            {{#if isAdminBoard}}
            <tr><th scope="row">Agent URL</th><td>{{agentUrl}}</td></tr>
            {{/if}}
          {{/with}}
          {{#if params}}
            <tr><th scope="row">Parameters</th>
              <td>
                {{#each params}}
                <strong>{{key}}</strong>: {{value}}<br/>
                {{/each}}
              </td>
            </tr>
          {{/if}}
          </tbody>
        </table>

        {{#each services}}
          {{> serviceView}}
        {{/each}}
      </div>
  </div>
</div>
</template>
