<template name="instanceView">
<div id="instancesPanel-{{this.name}}" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title heading-flex-container">
      <span class="glyphicon glyphicon-{{activityIcon}}"></span>
      {{#if instanceLink}}
        <a href="{{instanceLink}}" class="instance-link" target="_blank">{{name}}</a>
      {{else}}
        <span style="padding-left:5px;" title="This application does not have a web UI.">{{name}}</span>
      {{/if}}
      <a data-toggle="collapse" data-target="#instancePanel-{{instanceHash}}"
         href="#instancePanel-{{name}}" class="collapsed toggle titleToggle">
      </a>
      {{#if showProgressbar}}
      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progressPercentage}}%;">
          <span>{{#with status}}{{{ansiToHtml}}}{{/with}}</span>
        </div>
      </div>
      {{/if}}
      {{#with app.parameters.tags}}
      <div class="labelbox">
        {{#each this}}<span class="label label-default">{{this}}</span>{{/each}}
      </div>
      {{/with}}
      <a data-toggle="collapse" data-target="#instancePanel-{{instanceHash}}" href="#" class="collapsed toggle"></a>
    </h4>

  </div>
  <div id="instancePanel-{{instanceHash}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{#if isAuthenticated}}
        <ul class="nav nav-justified pull-right" style="margin-bottom:5px">
          <li class="btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-lg glyphicon-trash"></i>
            </a>
            <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                <div class="form-group" style="width:20em">
                  <div class="alert alert-warning" role="alert">
                    <span class="label label-danger">Expert feature!</span> <br />
                    Do you really want to clear the instance meta information?
                  </div>

                </div>
                <button type="button" class="clear-instance btn btn-mini btn-danger pull-right">Yes!</button>
            </form>
          </li>
          <li class="btn-group">
            <a title="Stop" href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-lg glyphicon-stop"></i>
            </a>
            <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                <div class="form-group" style="width:20em">
                  Do you really want to stop this application?
                </div>
                <button type="button" class="stop-instance btn btn-mini btn-danger pull-right">Yes!</button>
            </form>
          </li>
        </ul>
        {{/if}}

        <table class="table table-condensed">
          <tbody>
            {{#if hasLogs}}
            <tr><td colspan="2">
              <div class="code">
                <pre id="compose-log-{{name}}" class="code">{{#each logs}}{{{ansiToHtml}}}{{/each}}</pre>
              </div>
            </td></tr>
            {{/if}}
            <tr><th scope="row" style="width:250px;">State</th><td>{{state}}</td></tr>
            {{#with app}}
            <tr><th scope="row" >Application name</th><td>{{name}}</td></tr>
            <tr><th scope="row">Application version</th><td>{{version}}</td></tr>
            {{/with}}
            {{#if isAuthenticated}}
            <tr><th scope="row">Agent URL</th><td>{{agent.url}}</td></tr>
            {{/if}}
            {{#if startedByUser}}
            <tr><th scope="row">Started by</th><td>{{startedByUser}}</td></tr>
            {{/if}}
            {{#if stoppedByUser}}
              <tr><th scope="row">Stopped by</th><td>{{stoppedByUser}}</td></tr>
            {{/if}}
            <tr><th scope="row">Storage bucket</th><td>{{storageBucket}}</td></tr>
          {{#if params}}
            <tr><th scope="row">Parameters</th>
              <td>
                {{#each params}}
                <strong>{{key}}</strong>: {{value}}<br/>
                {{/each}}
              </td>
            </tr>
          {{/if}}
          </tbody>
        </table>

        {{#each services}}
          {{> serviceView}}
        {{/each}}
      </div>
  </div>
</div>
</template>
