<template name="serviceView">
  <h5>
    <span class="glyphicon glyphicon-{{stateIcon}}"></span>
    <a href="{{serviceLink}}" target="_blank">{{name}}</a>
    <!-- {{#unless hasSsh}}
    <a href="#" id="startSshContainer" class="btn btn-default" style="margin-left: 10px"><i class="glyphicon glyphicon-console pull-left"></i></a>
    {{/unless}} -->
  </h5>
  <table class="table table-condensed">
    <tbody>
      <tr><th scope="row">Created</th><td>{{createdSince}}</td></tr>
      <tr><th scope="row">State</th><td>{{data.state}}
        <span> {{#with data.health.status}}({{renderHealth}}){{/with}}</span>
        {{#if data.errors}}<span> ({{data.errors}})</span>{{/if}}
      </td></tr>
      <tr>
        <th scope="row" style="width:250px;">FQDN</th>
        <td>{{data.fqdn}}</td>
      </tr>
      <tr><th scope="row">Container Name</th><td>{{data.container.name}}</td></tr>
      <tr><th scope="row">IP</th><td>{{data.ip}}</td></tr>
      <tr><th scope="row">Ports</th><td>{{data.ports}}</td></tr>

      {{#if hasSsh}}
      <tr><th scope="row">SSH</th><td>
      <div class="copy-to-clipboard"><a href="#">copy to clipboard</a></div>
      {{#prism language="bash" class="code-toolbar" data=data}}
      ssh root@{{data.ssh.fqdn}}
      {{/prism}}
      {{#if ../data.sshWebPort}}
      <div class="divider">&nbsp; Or &nbsp;</div>
      {{/if}}

      {{#with data.sshWebPort}}
      <div class="web-links">
        <a href="http://{{../data.hostname}}:{{this}}" class="btn btn-default"  target="_blank"><i class="glyphicon glyphicon-link pull-left"></i> http://{{../data.hostname}}:{{this}}</a>
      </div>
      {{/with}}
      {{#if sshIsUnhealthy}}
        <i>The SSH service is unhealthy</i>
      {{/if}}
      </td></tr>
      {{/if}}

      {{#if isAuthenticated}}
      <tr>
        <th scope="row">Logs</th>
        <td><a target="_blank" href="{{pathFor route='logs' instance=../name service=name}}" class="showContainerLogsOld">Show Logs</a></td>
      </tr>
      {{/if}}
    </tbody>
  </table>
</template>
