<template name="serviceView">
  <h5>
    <span class="glyphicon glyphicon-{{stateIcon}}"></span>
    {{name}}
  </h5>
  <table class="table table-condensed">
    <tbody>
      <tr><th scope="row">Created</th><td>{{createdSince}}</td></tr>
      {{#if isAdminBoard}}
        <tr><th scope="row">Host</th><td>{{swarmNode}}</td></tr>
      {{/if}}
      <tr>
        <th scope="row" style="width:250px;">FQDN</th>
        <td>
          {{#if data.endpoint}}
          <a href="{{#if data.protocol}}{{data.protocol}}{{else}}http{{/if}}://{{data.hostname}}{{data.endpoint}}">{{data.hostname}}</a>
          {{else}}
          {{data.hostname}}
          {{/if}}
        </td>
      </tr>
      <tr><th scope="row">Container Name</th><td>{{data.dockerContainerName}}</td></tr>
      <tr><th scope="row">Container IP</th><td>{{containerIP}}</td></tr>
      <tr><th scope="row">Ports</th><td>{{data.ports}}</td></tr>


      {{#if hasSshSettings}}
      <tr><th scope="row">SSH</th><td>
      {{#with data.sshPort}}
      <div class="copy-to-clipboard"><a href="#">copy to clipboard</a></div>
{{#prism language="bash" class="code-toolbar" port=this hostname=../data.hostname}}
ssh -p {{port}} {{hostname}}
{{/prism}}
      {{#if ../data.sshWebPort}}
      <div class="divider">&nbsp; Or &nbsp;</div>
      {{/if}}

      {{/with}}
      {{#with data.sshWebPort}}
      <div class="web-links">
        <a href="http://{{../data.hostname}}:{{this}}" class="btn btn-default"  target="_blank"><i class="glyphicon glyphicon-link pull-left"></i> http://{{../data.hostname}}:{{this}}</a>
      </div>
      {{/with}}
      </td></tr>
      {{/if}}

      <tr><th scope="row">State</th><td>{{data.dockerContainerInfo.service.State.Status}}</td></tr>

      {{#if data.dockerContainerId}}
      {{#if isAuthenticated}}
      <tr>
        <th scope="row">Logs</th>
        <td><a target="_blank" href="{{pathFor route='logs' containerId=data.dockerContainerId}}" class="showContainerLogsOld">Show Logs</a></td>
      </tr>
      {{/if}}
      {{/if}}
    </tbody>
  </table>
</template>
