<template name="applications">
  <div class="row-fluid">
    <div class="span6">
      <div class="widget">
        <div class="widget-title">
          <h4><i class="icon-cogs"></i> Applications</h4>
        </div>
        <div class="widget-body">
          {{> applicationsTable}}
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="widget">
        <div class="widget-title">
          <h4><i class="icon-cloud"></i> Instances</h4>
        </div>
        <div class="widget-body">
          {{> instancesTable}}
        </div>
      </div>
    </div>
  </div>
</template>
