.apps.container .panel-title.heading-flex-container {
  display:flex;
  flex-direction: row;
}

.apps.container .panel-title.heading-flex-container a.titleToggle {
  display: inline-block;
  flex-grow: 1;
}

.apps.container .panel-title.heading-flex-container a.titleToggle:after {
  content: '';
}

.apps.container .panel-title.heading-flex-container  a.titleToggle:hover {
  text-decoration: none;
}
.apps.container .panel-title.heading-flex-container  a.titleToggle:active {
  text-decoration: none;
}

.apps.container .panel-title.heading-flex-container div {
  flex-shrink: 1;
  margin-right:10px;
}

.apps.container .panel-title.heading-flex-container div span {
  margin-right:5px;
}

.apps.container #searchbox-container {
  position: fixed;
  top: 50px;
  z-index: 10;
  background-color: white;
  width: 1185px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightblue;
}

.apps.container #content-row {
  margin-top: 75px;
}

.apps.container .appRow:hover {
  cursor: pointer;
}
