<template name="apps">
{{> editAppDefBox appDefTemplate}}
<div class="apps container">
  <div class="row">
      <div class="col-sm-12">
        <div id="searchbox-container" class="row">
          <div class="col-md-8"><h3 class="pageTitle"><i class="material-icons">apps</i> Apps</h3></div>
          <div class="col-md-4">
            {{> filterBox sessionVar='queryAppName'}}
          </div>
        </div>
      </div>
  </div>
  <div id="content-row" class="row">
    <div id="page-menu" class="col-md-3">
      <ul class="nav nav-stacked">
        {{#if isAuthenticated}}
        <hr>
        {{#with appDefTemplate}}
        <li><a title="New App" href="#" data-toggle="modal" data-target="#editbox-{{hash}}"><i class="glyphicon glyphicon-lg glyphicon-plus"></i> New App</a></li>
        {{/with}}
        <hr>
        {{/if}}
        {{#each allTags}}
        <li><a title="{{this}}" class="filterByTag" href="#"><i class="glyphicon glyphicon-lg glyphicon-zoom-in"></i> {{this}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div id="apps-container" class="col-md-9">
      {{#each appNames}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title heading-flex-container">
            <a data-toggle="collapse" data-target="#appPanel-{{this}}" href="#" class="titleToggle collapsed toggle">
               <span class="badge">{{appDefCount}}</span> {{this}}
            </a>
            <div>
              {{#each appTags}}
                <span class="label label-info">{{this}}</span>
              {{/each}}
            </div>
            <a data-toggle="collapse" data-target="#appPanel-{{this}}" href="#" class="collapsed toggle"></a>
          </h4>
        </div>
        <div id="appPanel-{{this}}" class="appPanel panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-hover">
                <tbody>
                  {{#each appDefs}}
                  <tr id="controlPanel-{{name}}-{{version}}">
                    <th scope="row" style="width:250px; padding: 20px;">
                      {{version}}
                    </th>
                    <td style="padding: 20px;">
                      <div class="labelbox">
                        {{#each tags}}<span class="label label-info">{{this}}</span>{{/each}}
                      </div>
                    </td>
                    <td style="width: 100px;">
                      {{#if isAuthenticated}}
                      {{> appActions}}
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
        </div>
      </div>

      {{#each appDefs}}
      {{> editAppDefBox}}
      {{/each}}

      {{/each}}

      {{#if isSearching}}
      <div class="searchInfo">
        Showing apps matching:
        {{#if searchTerms}}
        name is '{{searchTerms}}'
        {{/if}}
        {{#if multipleSearchTerms}}
        and
        {{/if}}
        {{#if filterByTag}}
        tag is '{{filterByTag}}'
        {{/if}}
        <br />
        <button id="reset" type="button" class="btn btn-link">- reset -</button>
      </div>
      {{/if}}

    </div>

  </div>
</div>
</template>

<template name="appActions">
  <ul class="nav nav-justified">
    <li class="btn-group">

      <a title="Start" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-lg glyphicon-play"></i>
      </a>
      <form id="start-app-form" role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
          <div class="form-group" style="width:30em">
              <label>Instance name</label>
              <input required pattern="/?[a-zA-Z0-9_-]+" type="text"
                class="form-control instance-name" style="width:90%"
                placeholder="A unique name. Must match /?[a-zA-Z0-9_-]+."
                value="{{name}}">
              {{#each parameters}}
              <label>{{this}}</label>
              <input required type="text" class="form-control parameter" data-parameter="{{this}}" style="width:90%">
              {{/each}}
          </div>
          <button type="submit" class="start-app btn btn-mini">Go!</button>
      </form>

    </li>
    <li><a title="Edit" href="#" data-toggle="modal" data-target="#editbox-{{hash}}"><i class="glyphicon glyphicon-lg glyphicon-cog"></i></a></li>
    <li class="btn-group">

      <a title="Remove" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-lg glyphicon-trash"></i>
      </a>
      <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
          <div class="form-group" style="width:20em">
            <div class="alert alert-warning" role="alert">
              <strong>Warning!</strong> Do you really want to remove this application?
            </div>
          </div>
          <button type="button" class="remove-app btn btn-mini btn-danger pull-right">Yes!</button>
      </form>
    </li>
  </ul>
</template>
