<template name="apps">
<!-- {{> editAppDefBox appDefTemplate}} -->
<div class="apps container">
  <div class="row">
      <div class="col-md-12">
        <div id="searchbox-container" class="row">
          <div class="col-md-2"><h3 class="pageTitle"><i class="material-icons">apps</i> Apps</h3></div>
          <div class="col-md-2" style='margin-top:25px'>
            {{#if isAuthenticated}}
            <a title="New App" id='newAppLink' href="#"><i class="glyphicon glyphicon-lg glyphicon-plus"></i> New App</a>
            {{/if}}
          </div>
          <div class="col-md-5 .col-md-offset-3" style='margin-top:10px'>
          </div>
          <div class="col-md-3">
            {{> filterBox sessionVar='queryAppName'}}
          </div>
        </div>
      </div>
  </div>
  <div id="content-row" class="row">
    <div id="apps-container" class="col-md-5" style='margin-top:10px; overflow-y: auto; height: calc(100vh - 150px);'>
      {{#each appNames}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title heading-flex-container">
            <a data-toggle="collapse" data-target="#appPanel-{{this}}" href="#" class="titleToggle collapsed toggle">
               <span class="badge">{{appDefCount}}</span> {{this}}
            </a>
            <div>
              {{#each appTags}}
                <span class="label label-info">{{this}}</span>
              {{/each}}
            </div>
            <a data-toggle="collapse" data-target="#appPanel-{{this}}" href="#" class="collapsed toggle"></a>
          </h4>
        </div>
        <div id="appPanel-{{this}}" class="appPanel panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-hover">
                <tbody>
                  {{#each appDefs}}
                  <tr class="appRow {{activeRowCss}}" id="controlPanel-{{name}}-{{version}}">
                    <th scope="row" style="width:250px; padding: 20px;">
                      {{version}}
                    </th>
                    <td style="padding: 20px;">
                      <div class="labelbox">
                        {{#each tags}}<span class="label label-info" style="margin-left: 5px">{{this}}</span>{{/each}}
                      </div>
                    </td>
                    <td style="width: 100px;">
                      {{#if isAuthenticated}}
                      {{> appActions}}
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
        </div>
      </div>



      {{/each}}

      {{#if isSearching}}
      <div class="searchInfo">
        Showing apps matching:
        {{#if searchTerms}}
        name is '{{searchTerms}}'
        {{/if}}
        {{#if multipleSearchTerms}}
        and
        {{/if}}
        {{#if filterByTag}}
        tag is '{{filterByTag}}'
        {{/if}}
        <br />
        <button id="reset" type="button" class="btn btn-link">- reset -</button>
      </div>
      {{/if}}

    </div>
    <div class="col-md-7" style='overflow-y: auto; height: calc(100vh - 150px);'>
      {{#if selectedAppDefId}}
        {{#if isNewApp}}
          <span>{{> React component=AppEditor newApp=true }}</span>
        {{else}}
        <span>{{> React component=AppEditor appId=selectedAppDefId }}</span>
        {{/if}}
      {{else}}
        <h3 style="text-align: center;">
          Please, select an application definition from the list on the left.
        </h3>
      {{/if}}
    </div>
  </div>
</div>
</template>

<template name="appActions">
  <ul class="nav nav-justified">
    <li class="btn-group">

      <a title="Start" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-lg glyphicon-play"></i>
      </a>
      <form id="start-app-form" role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
          <div class="form-group" style="width:25em">
              <label>Instance name (must match [a-zA-Z0-9-]+)</label>
              <input required pattern="[a-zA-Z0-9-]+" type="text"
                class="form-control instance-name"
                placeholder="Alphanummeric, underscores and dashes; no spaces"
                value="{{name}}">

              <label>Storage bucket</label>
              <select class="form-control storage-bucket">
                <option value="!! instance name !!">Use instance name</option>
                <option value="!! do not persist !!">Do not persist</option>
                <optgroup label="Available storage buckets">
                  {{#each storageBuckets}}
                  <option value={{name}} {{styles}}>{{name}}{{#if styles.disabled}} (not ready){{/if}}</option>
                  {{/each}}
                </optgroup>
              </select>

              {{#if parameters}}
                <div class="divider" style="padding-top: 5px;"></div>

                {{#each parameters}}
                <label>{{this}}</label>
                <input required type="text" class="form-control parameter" data-parameter="{{this}}">
                {{/each}}
              {{/if}}
          </div>
          <button type="submit" class="start-app btn btn-mini pull-right">Go!</button>
      </form>

    </li>
    <li class="btn-group">
      <a title="Remove" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-lg glyphicon-trash"></i>
      </a>
      <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
          <div class="form-group" style="width:25em">
            <div class="alert alert-warning" role="alert">
              <strong>Warning!</strong> Do you really want to remove this application?
            </div>
          </div>
          <button type="button" class="remove-app btn btn-mini btn-danger">Yes, destroy it!</button>
      </form>
    </li>
  </ul>
</template>
